body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width:100%;
    

}
.login-container {
    background-color: lightgray;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
}

form {
    display: flex;
   flex-direction: column;
}
h2 {
text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
}
input {
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 4px;

}

.input-container {
    position: relative;
   
}
.input-container input {
    width:95%;
    padding-left: 30px;
   
}
.input-container i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color:grey;
}
.password-container {
    position: relative;
    
    
}

.password-container input {
    width:95%;
    padding-left: 30px;
    

}


.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:green;
    color: white;
      width:97%;
    font-size: 16px;
    cursor:pointer;
}
button:hover {
    background-color: #4cae4c;
}
.loading-spinner {
    border: 4px solid burlywood;
    border-top: 4px solid blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.75s linear infinite;
    margin-top: 10px;
}


@keyframes spin {
    0% {transform: rotate(0deg); }
    20%{transform: rotate(50deg);}
    30%{transform: rotate(90deg);}
    40%{transform: rotate(140deg);}
    50%{transform: rotate(180deg);}
    60%{transform: rotate(220deg);}
    70%{transform: rotate(270deg);}
    89%{transform: rotate(310deg);}
    100% { transform: rotate(360deg); }
}
.error-message {
    color: red;
    font-size: 12px;
}

.status-message {
    margin-top: 10px;
    font-size: 14px;
}
@media (max-width: 700px) {
    .login-container {
         width: 60%;
        padding: 15px;
    }
    input, button {
        font-size: 18px;
    }
    .input-container i,
    .password-container i {
        font-size: 18px;
    }
}
@media (max-width: 450px) {
    .login-container {
        width: 50%;
        padding: 10px;
    }
    h2 {
        font-size: 24px;
    }
    input, button {
        font-size: 20px;
        padding: 12px;
    }
    .input-container i,
    .password-container i {
        font-size: 20px;
        left: 8px;
    }
    .password-container i {
        right:8px;
    }
}
